<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>icon</key>
			<string>icon.png</string>
			<key>packageIdentifier</key>
			<string>ws.hbang.common</string>
			<key>packageNameOverride</key>
			<string>Cephei</string>
			<key>footerText</key>
			<string>This is a demo of Cephei features. Refer to https://hbang.github.io/libcephei/ for further details.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.common.demo</string>
			<key>key</key>
			<string>Switch</string>
			<key>label</key>
			<string>Awesome</string>
			<key>iconImageSystem</key>
			<dict>
				<key>name</key>
				<string>switch.2</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>ws.hbang.common.demo</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>Region</string>
			<key>label</key>
			<string>Region</string>
			<key>validTitles</key>
			<array>
				<string>Worldwide</string>
				<string>Australia</string>
				<string>Canada</string>
				<string>China</string>
				<string>France</string>
				<string>Germany</string>
				<string>Japan</string>
				<string>New Zealand</string>
				<string>United Kingdom</string>
				<string>United States</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
			</array>
			<key>iconImageSystem</key>
			<dict>
				<key>name</key>
				<string>globe</string>
			</dict>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>default</key>
			<real>5</real>
			<key>defaults</key>
			<string>ws.hbang.common.demo</string>
			<key>key</key>
			<string>Stepper</string>
			<key>label</key>
			<string>%i Things</string>
			<key>max</key>
			<real>15</real>
			<key>min</key>
			<real>1</real>
			<key>singularLabel</key>
			<string>1 Thing</string>
			<key>iconImageSystem</key>
			<dict>
				<key>name</key>
				<string>number.circle</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Sliders</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>5</real>
			<key>defaults</key>
			<string>ws.hbang.common.demo</string>
			<key>key</key>
			<string>Slider</string>
			<key>label</key>
			<string>Slider</string>
			<key>max</key>
			<real>15</real>
			<key>min</key>
			<real>1</real>
			<key>showValue</key>
			<true/>
			<key>leftImageSystem</key>
			<dict>
				<key>name</key>
				<string>slider.horizontal.3</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>HBDiscreteSliderTableCell</string>
			<key>default</key>
			<real>5</real>
			<key>defaults</key>
			<string>ws.hbang.common.demo</string>
			<key>key</key>
			<string>Discrete</string>
			<key>label</key>
			<string>Discrete</string>
			<key>max</key>
			<real>15</real>
			<key>min</key>
			<real>1</real>
			<key>leftImageSystem</key>
			<dict>
				<key>name</key>
				<string>sun.min</string>
			</dict>
			<key>rightImageSystem</key>
			<dict>
				<key>name</key>
				<string>sun.max</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HBImageTableCell</string>
			<key>footerText</key>
			<string>Note: The test image is only installed with debug builds of Cephei.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBImageTableCell</string>
			<key>icon</key>
			<string>banner.jpg</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBImageTableCell</string>
			<key>height</key>
			<integer>200</integer>
			<key>icon</key>
			<string>banner.jpg</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HBTintedTableCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>doStuffTapped:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBSpinnerTableCell</string>
			<key>label</key>
			<string>Perform Magic Tricks</string>
			<key>iconImageSystem</key>
			<dict>
				<key>name</key>
				<string>wand.and.stars</string>
				<key>weight</key>
				<string>semibold</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>action</key>
			<string>hb_respringAndReturn:</string>
			<key>label</key>
			<string>Respring</string>
			<key>iconImageSystem</key>
			<dict>
				<key>name</key>
				<string>restart.circle</string>
				<key>weight</key>
				<string>bold</string>
			</dict>
			<key>tintColor</key>
			<string>#ff3b30</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HBLinkTableCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>HASHBANG Productions</string>
			<key>url</key>
			<string>https://hashbang.productions/</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Avatar from URL</string>
			<key>url</key>
			<string>https://hashbang.productions/</string>
			<key>iconURL</key>
			<string>https://repo.chariz.com/CydiaIcon@3x.png</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Avatar from URL, circular</string>
			<key>subtitle</key>
			<string>They seem like a pretty cool bunch</string>
			<key>url</key>
			<string>https://hashbang.productions/</string>
			<key>iconURL</key>
			<string>https://repo.chariz.com/CydiaIcon@3x.png</string>
			<key>iconCircular</key>
			<true/>
			<key>big</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Avatar from URL, big</string>
			<key>subtitle</key>
			<string>They seem like a pretty cool bunch</string>
			<key>url</key>
			<string>https://hashbang.productions/</string>
			<key>iconURL</key>
			<string>https://repo.chariz.com/CydiaIcon@3x.png</string>
			<key>big</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Doesn’t Exist</string>
			<key>url</key>
			<string>http://localhost/</string>
			<key>iconURL</key>
			<string>http://localhost/</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HBMastodonTableCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBMastodonTableCell</string>
			<key>label</key>
			<string>Redirect username</string>
			<key>account</key>
			<string>@kirb@kirb.me</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBMastodonTableCell</string>
			<key>label</key>
			<string>Moved username</string>
			<key>account</key>
			<string>@kirb@mastodon.social</string>
		</dict>
		<dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBMastodonTableCell</string>
			<key>height</key>
			<integer>56</integer>
			<key>label</key>
			<string>Big cell</string>
			<key>account</key>
			<string>@theos@procursus.social</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBMastodonTableCell</string>
			<key>label</key>
			<string>No avatar</string>
			<key>showAvatar</key>
			<false/>
			<key>account</key>
			<string>chariz@chariz.com</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBMastodonTableCell</string>
			<key>label</key>
			<string>Avatar from URL</string>
			<key>iconURL</key>
			<string>https://chariz.com/img/favicon.png</string>
			<key>iconCircular</key>
			<false/>
			<key>account</key>
			<string>@chariz@chariz.com</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBMastodonTableCell</string>
			<key>label</key>
			<string>Monogram initials</string>
			<key>initials</key>
			<string>ZB</string>
			<key>account</key>
			<string>@zebra@procursus.social</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HBPackageTableCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBPackageTableCell</string>
			<key>label</key>
			<string>Cephei</string>
			<key>packageIdentifier</key>
			<string>ws.hbang.common</string>
			<key>iconCornerRadius</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBPackageTableCell</string>
			<key>label</key>
			<string>Cephei</string>
			<key>subtitle</key>
			<string>Cephei is awesome!</string>
			<key>packageIdentifier</key>
			<string>ws.hbang.common</string>
			<key>iconURL</key>
			<string>https://repo.chariz.com/CydiaIcon@3x.png</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBPackageTableCell</string>
			<key>label</key>
			<string>NewTerm</string>
			<key>subtitle</key>
			<string>NewTerm is also awesome!</string>
			<key>packageIdentifier</key>
			<string>ws.hbang.newterm3</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBPackageTableCell</string>
			<key>label</key>
			<string>Quanta</string>
			<key>subtitle</key>
			<string>Quanta is hyper awesome!</string>
			<key>packageIdentifier</key>
			<string>ws.hbang.quanta</string>
			<key>packageRepository</key>
			<string>https://repo.chariz.com/</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBPackageTableCell</string>
			<key>label</key>
			<string>Doesn’t Exist</string>
			<key>packageIdentifier</key>
			<string>ws.hbang.common.doesntexist</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HBTwitterCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Mismatched username</string>
			<key>user</key>
			<string>NotActuallyHashbang</string>
			<key>userID</key>
			<string>945654024</string>
		</dict>
		<dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>height</key>
			<integer>56</integer>
			<key>label</key>
			<string>Big cell</string>
			<key>user</key>
			<string>hashbang</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>No avatar</string>
			<key>showAvatar</key>
			<false/>
			<key>user</key>
			<string>hashbang</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Avatar from URL</string>
			<key>iconURL</key>
			<string>https://chariz.com/img/favicon.png</string>
			<key>iconCircular</key>
			<false/>
			<key>user</key>
			<string>hashbang</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Monogram initials</string>
			<key>initials</key>
			<string>HB</string>
			<key>user</key>
			<string>hashbang</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HBAboutListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBDemoAboutListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>ABOUT</string>
			<key>iconImageSystem</key>
			<dict>
				<key>name</key>
				<string>info.circle</string>
			</dict>
		</dict>
	</array>
	<key>title</key>
	<string>Cephei Demo</string>
</dict>
</plist>
